@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: bisque;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

.container {
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 20px;
  text-align: center;
  width: 100%;
  max-width: 800px;
}

h1 {
  margin: 0;
  opacity: 0.8;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

h3 {
  margin: 0;
  opacity: 0.8;
  letter-spacing: 2px;
}

.add-score {
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

.btn {
  background-color: #4693ec;
  color: #f4f4f4;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.score-container {
  max-height: 550px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.score-container .recent-score {
  min-width: 300px;
}

.recent-score-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}

.score-list {
  border: 2px solid rgb(10, 53, 172);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 5px;
}

.score-container .recent-score .score-list :nth-child(even) {
  background-color: #9eb7e7;
}

.score-container .recent-score .score-list li {
  list-style-type: none;
  width: 100%;
  display: flex;
}

.score-container .new-score {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 200px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px;
  border: 2px solid #8e8c8c;
  border-radius: 4px;
  font-size: 16px;

}

@media only screen and (min-width: 768px) {


  .score-container {
    flex-direction: row;
  }

  /* .score-container .new-score {
    min-width: 200px;
  } */
}
